$color__soft-red: rgb(228, 100, 80);
$color__dark-blue: rgb(0, 45, 85);
$color__middle-blue: rgb(0, 124, 186);
$color__light-blue: rgb(235, 245, 255);
$color__dark-gray: rgb(85, 79, 74);
$color__middle-gray: rgb(224, 221, 214);
$color__light-gray: rgb(239, 238, 234);

$color__headline-main: $color__soft-red;
$color__headline-hover: $color__soft-red;
$color__text-main: $color__dark-gray;
$color__link: $color__middle-blue;
$color__link_hover: lighten( $color__link, 20% );

$font__headline: 'Merriweather',Georgia,Times,'Times New Roman',serif;
$font__content: HelveticaNeueLT,'Helvetica Neue',OpenSans,Arial,Helvetica,sans-serif;
