.section-one-column-one .entry-header h2.entry-title {
	@media screen and (min-width: 66.25em) {
		font-size: 2.4rem;
		line-height: 1.2;
	}
}
.section-about-column-one p,
.section-one-column-one .type-post .entry-summary {
	@media screen and (min-width: 66.25em) {
		font-size: 1.2rem;
		line-height: 1.4;
	}
}

.single-post .entry-header p.intro,
.entry-meta,
.entry-meta a,
.entry-cats,
.entry-summary,
.front-section-title,
.social-front-title,
.widget_mc4wp_form_widget p,
.jetpack_subscription_widget #subscribe-text p,
.section-about-column-one p {
	color: $color__text-main;
}

.blog-wrap h3.blog-title,
.archive-header h1.archive-title,
.widget h2.widget-title,
#primary .hentry,
.page-template-default #primary .hentry,
.page-fullwidth #primary .hentry,
.page-template-no-sidebar #primary .hentry,
.error404 #primary .page {
	border-top: 1px solid #ddd;
	color: $color__middle-blue;

	@media screen and (min-width: 66.25em) {
		font-size: 1.75rem;
	}
}

.blog-wrap h3.blog-title,
.archive-header h1.archive-title {
	border-top: none;
}

.featured-slider .entry-header h2.entry-title,
.single-post .entry-header h1.entry-title,
#front-section-four .entry-header h2.entry-title {
	@media screen and (min-width: 66.25em) {
		font-size: 3.2rem;
		line-height: 1.2;
	}
}

.single-post .hentry .entry-meta,
.single-attachment .entry-meta {
	border-top: none;
	font-size: 0.8rem;
	line-height: 1.6;
}

.single-post .entry-content blockquote,
.page .entry-content blockquote {
	border-color: $color__text-main;
}

#comments h3.comments-title,
#comments #respond h3#reply-title {
	text-transform: none;
}

.widget_search input[type="submit"],
.post-password-form input[type="submit"],
input[type="button"],
input[type="submit"],
input#submit {
	border-color: $color__text-main;

	&:hover {
		background-color: $color__soft-red;
		border-color: $color__soft-red;
	}
}

.pagination {
	border-color: $color__text-main;
	color: $color__text-main;

	a {
		color: $color__link;

		&:hover {
			color: $color__link-hover;
		}
	}
}
